@use "../abstracts/variables" as *;
@use "../components/buttons" as *;

.max-width {
   max-width: 375px;
   margin-inline: auto;

   .content-container {
      margin-inline: auto;
   }

   .nav {
      display: flex;
      justify-content: space-between;
      padding-top: 16px;
      padding-bottom: 24px;
   }

   .btn-open{
      padding-right: 20px;
   }

   .nav-logo{
      padding-left: 20px;
   }

   .nav-links {
      display: none;

      img {
         display: inline-block;
      }
   }

   /// Media Queries///
   @media (min-width: 1440px) {
      max-width: 1440px;

      .content-container {
         max-width: 1350px;
      }

      .nav {
         align-items: center;
      }

      .btn-open{
         padding-right: 0;
      }
      
      .nav-logo {
         margin-right: 60px;
         padding-left: 0;
      }

      .nav-links {
         display: flex;
         justify-content: space-around;
         align-items: center;
         width: 100%;
         padding-left: 0;
         gap: 30px;
      }

      .push-right {
         margin-right: auto;
      }

      .btn-open,
      .btn-close {
         display: none;
      }
   }
} //max-width end

header {
   margin-bottom: 10px;
}

.btn-open,
.btn-close {
   background: transparent;
   border-color: transparent;
}

.link-btn {
   background: transparent;
   border-color: transparent;
}

.hello img {
   margin-right: 14px;
}

.btn-close {
   margin-left: auto;
   margin-right: 20px;
}

// use media query for the box shadow at large screen sizes
#dropdown-features,
#dropdown-company {
   gap: 7px;
   display: none;
}



@media (min-width: 1440px) {
   #dropdown-features,
   #dropdown-company {
      padding: 24px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
   }

   .relative {
      position: relative;
   }

   #dropdown-features,
   #dropdown-company {
      position: absolute;
   }

   #dropdown-features {
      width: 153px;
      right: 0px;
      top: 45px;
   }

   #dropdown-company {
      width: 116px;
      left: 10px;
      top: 45px;
   }
}

#dropdown-features.show,
#dropdown-company.show {
   display: flex;
   flex-direction: column;
}

// sidebar styles
.sidebar-container {
   //for dropdown arrows
   img {
      display: inline-block;
   }
}

.sidebar {
   z-index: 10;
   position: fixed;
   top: 0;
   right: 0;
   width: 240px;
   height: 100%;
   background-color: $almost-white;
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
   padding-top: 16px;
   transform: translate(100%);
   transition: transform ease-in 0.25s;

   .link-btn {
      padding: 0;
   }

   .dropdown-menu a {
      margin-bottom: 10px;
   }

   .push-right {
      margin-bottom: 30px;
   }

   .move-middle {
      text-align: center;
      align-self: stretch;
   }

   #dropdown-features,
   #dropdown-company {
      padding-top: 18px;
   }

   @media (min-width: 500px) {
      display: none;
   }
}

.sidebar{
   .dropdown-menu a{
      padding-left: 27px;
   }
}

.show-sidebar {
   transform: translate(0);
}

.sidebar-links {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   height: 50vh;
   padding-left: 0;
   min-width: 195px;
   margin-inline: auto;
}

.show-overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: hsl(0, 0%, 8%, 0.75);
   // mix-blend-mode: overlay;
   @media (min-width: 500px) {
      display: none;
   }
   //add /remove this class based on show-sidebar
}
